/* ---------------------------------------------------
  CUSTOM STYLING
----------------------------------------------------- */

.primary-red {
  color: #ec1414;
}

.primary-red-darker {
  color: #d41212;
}

.primary-red-lighter {
  color: #f7a1a1;
}

.primary-red-subtle {
  color: #fde8e8;
}

.primary-yellow {
  color: #ffba08;
}

.primary-yellow-darker {
  color: #e6a707;
}

.primary-yellow-lighter {
  color: #ffe39c;
}

.primary-yellow-subtle {
  color: #fff8e6;
}

.primary-blue {
  color: #3772ff;
}

.primary-blue-darker {
  color: #3267e6;
}

.primary-blue-lighter {
  color: #afc7ff;
}

.primary-blue-subtle {
  color: #ebf1ff;
}

.primary-green {
  color: #57cc99;
}

.primary-green-darker {
  color: #4eb88a;
}

.primary-green-lighter {
  color: #bcebd6;
}

.primary-green-subtle {
  color: #eefaf5;
}

.primary-neutal-900 {
  color: #0d160b;
}

.primary-neutal-800 {
  color: #565c54;
}

.primary-neutal-700 {
  color: #9ea29d;
}

.primary-neutal-600 {
  color: #c3c5c2;
}

.primary-neutal-300 {
  color: #e7e8e7;
}

.primary-neutal-100 {
  color: #f3f3f3;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
  text-decoration: none;
}

.mandatoryField {
  color: #ec1414;
}

/* ---------------------------------------------------
  TYPOGRAPHY
----------------------------------------------------- */
body {
  font-family: "Roboto", sans-serif;
}

.sans {
  font-family: "Roboto", sans-serif;
}

.serif {
  font-family: "Merriweather", serif;
}

.h3 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.recordFileName {
  font-weight: 600;
  font-size: 16px;
  line-height: 170%;
  color: #565c54;
}

.recordCategory {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #565c54;
}

/* ---------------------------------------------------
  CUSTOM ELEMENTS
----------------------------------------------------- */
.homeHero {
  background-image: url("../img/hero-focus.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Toast message */
.neutral-outlin-btn {
  border: 1px solid #c3c5c2;
  color: #565c54;
}

.deleteFileUpload {
  background: #ec1414;
  color: #fff;
}

/* Record form header */
header {
  background-color: white;
}

header.active {
  box-shadow: 0 8px 6px -6px hsla(0 0% 0% / 0.1);
  transition-duration: 400ms;
  border-bottom: 1px #e7e8e7;
  padding: 20px 0 20px 0;
}

/* File upload preview */
.fileUpload .img-thumbnail {
  border: none;
  box-shadow: hsla(0 0% 0% / 0.1) 0 0.5rem 1rem;
}

.uploaderDetailsCard {
  background: #f3f3f3;
  border: none;
}

.uploaderDetailsCard th,
td {
  height: 40px;
  vertical-align: middle;
}

/* Template field */
li.draggable-item {
  width: inherit;
  padding: 15px 20px;
  background-color: #f5f5f5;
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;

  -webkit-transition: box-shadow 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: #eaeaea;
  }
}

li.draggable-item.ui-sortable-helper {
  background-color: #e5e5e5;
  -webkit-box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
  -moz-box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
  box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
  transform: scale(1.015);
  z-index: 100;
}
li.draggable-item.ui-sortable-placeholder {
  background-color: #ddd;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

/* Template icon selector*/
.templateIconSelect label {
  border: 1px solid #c3c5c2;
  border-radius: 8px;
}

.templateIconSelect .btn-check:checked + label {
  background-color: #f7a1a1;
}

/* Home record categories */
.recordCatAdv {
  background-image: url("../img/recordCat_advertisment_bkg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.recordCatNews {
  background-image: url("../img/recordCat_article_bkg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.recordCatBook {
  background-image: url("../img/recordCat_book_bkg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.recordCatPhoto {
  background-image: url("../img/recordCat_photos_bkg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.recordCatSalesBrochure {
  background-image: url("../img/recordCat_sales_brochure_bkg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.recordCatSalesRecord {
  background-image: url("../img/recordCat_sales_record_bkg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* ---------------------------------------------------
  LAYOUT STYLE
----------------------------------------------------- */

#topnavbar {
  width: 100%;
  /* min-height: 10vh; */
  border-bottom: red;
}

#content {
  width: 100%;
  padding: 0 40px 0 40px;
  min-height: 100vh;
  transition: all 0.3s;
}

.user-content {
  width: 100%;
  min-height: 86vh;
  transition: all 0.3s;
}

.record-content {
  width: 100%;
  padding: 0 240px 0 240px;
  min-height: 86vh;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.footer {
  min-height: 4vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.sidebar-list-group-item {
  color: #565c54;
  border: none;
  background-color: #f3f3f3;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #f3f3f3;
  color: #565c54;
  transition: all 0.3s;
  padding: 20px;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar li {
  border-radius: 8px;
  margin: 2px 0 2px 0;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

/* Tablet and smaller */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }

  .search-results {
    width: 33vw;
    height: 33vw;
  }
}

/* Mobile and smaller */
@media (max-width: 576px) {
  .hideInMobile {
    display: none;
  }

  .homeSearchBtn i {
    display: none;
  }

  h5.serif {
    font-size: 1rem; /* or any other font size you want */
    white-space: normal;
    word-wrap: break-word;
  }

  .search-results {
    width: 50vw;
    height: 50vw;
  }
}

/* ---------------------------------------------------
  home search
----------------------------------------------------- */
#home-search-form {
  min-height: 61vh;
}

.search-area {
<<<<<<< HEAD
  /* background: #ffffff; */
=======
  background: #ffffff;
>>>>>>> 063258f2984a5e913aab71dea0b6c7fade52bd33
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

.search-area .dropdown {
  width: 20%;
  border-left: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.search-area .dropdown .default_option {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
}

.search-area .dropdown ul {
  position: absolute;
  top: 70px;
  background: #ffffff;
  width: 150px;
  border-radius: 5px;
  padding: 20px;
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  list-style-type: none;
}

.search-area .dropdown ul.active {
  display: block;
}

.search-area .dropdown ul li {
  padding-bottom: 20px;
}

.search-area .dropdown ul li:last-child {
  padding-bottom: 0;
}

.search-area .dropdown ul li:hover {
  color: #6f768d;
}

.search-area .dropdown:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #5078ef transparent transparent transparent;
}

.search-area .search_field {
  width: 33%;
  margin-right: 15px;
}

.search-area .search_field .input {
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

.search-area .search_field .fas {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: #5078ef;
  cursor: pointer;
}

/* ---------------------------------------------------
  home 6 equal areas
----------------------------------------------------- */
.search-results {
  min-height: 25vh;
  /* width: 16.67vw;
  height: 16.67vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}
<<<<<<< HEAD
=======

/* ---------------------------------------------------
  record detail
----------------------------------------------------- */
#doctypecontainer {
  margin-top: 64px;
}

#titlecontainer {
  width: 100vh;
  color: #ec1414;
  font-size: 28px;
}

#desccontainer {
  margin-top: 30px;
}

#publishdatecontainer {
  margin-top: 30px;
}

#previewcontainer {
  margin-top: 30px;
  margin-bottom: 64px;
}

/* ---------------------------------------------------
  submit record
----------------------------------------------------- */
#maincontainer {
  margin-top: 64px;
}

#uploadFormTitle {
  width: 100vh;
  color: #ec1414;
  font-size: 22px;
}

#uploadFormDesc {
  margin-top: 30px;
}

#fileFormTitle {
  margin-top: 64px;
  color: #ec1414;
  font-size: 22px;
}

#drop-area {
  width: 100%;
  background-color: #FDE8E840;
  border: 1px dashed #ec1414;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

#drop-hint {
  font-size: 18px;
}

#drop-subhint {
  font-size: 14px;
  color: #565C54;
}

#browse-btn {
  color: #ec1414;
  text-decoration: underline;
}

#sumbitRecordBtn {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
}
>>>>>>> 063258f2984a5e913aab71dea0b6c7fade52bd33
